<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" *ngFor="let film of films" [ngStyle]="{
            'background-size': 'cover',
            'background-image': 'url(https://image.tmdb.org/t/p/original' + film.backdrop_path + ')'  
        }">

            <div class="film-card">
                <h2>{{ film.title }}</h2>
                <p>{{ film.overview | slice:0:180 }}</p>
            </div>

        </div>

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div (click)=goSlidePrev() class="swiper-button-prev"></div>
    <div (click)=goSlideNext() class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>