<div class="row">
    <div class="col-md-3 mb-2" *ngFor="let film of films">
        <div class="card h-100">
            <img class="img-fluid card-img-top" src="https://image.tmdb.org/t/p/w500{{film.poster_path}} " onerror="this.src='./assets/imagen-no-disponible.png';" alt="imagen no disponible" (click)="onFilmClick(film)">
            <!-- <img class="img-fluid card-img-top" *ngIf="film.poster_path == null" src="../../../assets/imagen-no-disponible.png" alt="... "> -->
            <div class="card-body">
                <h5 class="card-title">{{ film.title }}</h5>
                <div class="row text-white">
                    <div class="col-10">
                        <star-rating [value]="film.vote_average" [totalstars]="10" checkedcolor="orange" uncheckedcolor="gray" size="18px" [readonly]="false">
                        </star-rating>
                    </div>
                    <div class="col-2">
                        {{ film.vote_average }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>