<nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="../../../assets/logowikifilms.png" alt="Logo Wikifilms" height="60">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar título" aria-label="Busqueda">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>